# dependencies
node_modules/
.pnpm-store/

# build output
dist/
*.tsbuildinfo

infra/build/
apps/api/dist/

# test / coverage
coverage/
playwright-report/
test-results/
.vitest/

# env & secrets
.env
.env.*
!.env.example

# aws / terraform (you will manage infra locally)
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.aws-sam/

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
